.Dropdown {
  color: #2F4F4F;
  font-size: 20pt;
  font-weight: bold;
  
}

.data-text {
  font-size: 15pt;
  font-weight: normal;
  border-radius: 8px;
  border: 1px solid #A9A9A9;
  background: #A9A9A9;
}
